$primary-color: rgb(7, 42, 240);
$primary-hover-color: rgb(7, 7, 83);
$text-color: black;
$background-color: rgb(235, 233, 233);
$light-background-color: #f9f9f9;
$border-radius: 5px;
$padding: 10px;
$font-family: Arial, Helvetica, sans-serif;
$box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
$container-width: 600px;
$transition-time: 0.3s ease;
$event-upcoming-color: #cbf7d2;
$event-completed-color: #f5b4b4;